* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif; /* 300;400;600;700;800;900 */
}

h1 {
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 1.5px;
  color: #0404B4;
  text-shadow: 3px 3px #CEE3F6;
  padding: 30px 0;
  font-size: 30px;
}

h2 {
  font-weight: 800;
  padding: 20px 0;
  font-size: 30px;
  color: #CEE3F6;
  text-shadow: 3px 3px #0404B4;
  text-transform: capitalize;
}

h3 {
  font-weight: 800;
  font-size: 25px;
  text-transform: uppercase;
  padding: 10px 0;
}

ul {
  list-style-type: none;
  padding-top: 20px;
}

li {
  padding: 5px 0;
}

span {
  color: #0040FF;
}

#page-wrapper {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-color: lightblue;
  text-align: center;
}

.container {
  margin: 0 auto;
  padding: 30px 0;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.text-center {
  text-align: center;
}

/* Sections */

h1::before {
  content: '\f008';
  margin-right: 20px;
}

h1::after {
  content: '\f008';
  margin-left: 20px;
}

h1::before,
h1::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 700;
  font-size: 30px;
}

.cards-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  flex-wrap: wrap;
}

.movie-card {
  min-width: 300px;
  max-width: 300px;
  min-height: 320px;
 border: 3px solid #5882FA;
 box-shadow: inset 0px 0px 20px #81BEF7;
 border-radius: 10px;
 margin-top: 40px;
 padding: 10px 20px;
}

.movie-card > ul.movie-info {
  padding: 10px 0;
}

li.vote {
  padding: 10px 0;
}

li.vote span {
  color: #DF7401;
  font-weight: 800;
  font-size: 18px;
}

li.plot {
  padding-bottom: 10px;
}

li.plot > span {
  color: #000;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  transition: all 0.20s;
}

li.plot > span:hover {
  color: red;
}

li.plot > span::before,
li.plot > span::after {
  font-weight: bold;
  font-size: 16px;
  color: red;
}

li.plot > span::before {
  content: "\2192";
  margin-right: 5px;
}

li.plot > span::after {
  content: "\2190";
  margin-left: 5px;
}

li.plot .plot-text {
  text-align: justify;
  font-size: 14px;
  display: none;
  padding-top: 10px;
}

li.plot .plot-text.active {
  display: block;
}

.plot-text > p > span {
  color: #DF7401;
  font-weight: 800;
}

li.release-info {
  padding: 5px 0;
  color: red;
  font-weight: 800;
  font-size: 14px;
  text-transform: uppercase;
}

/* ------------------- MEDIA QUERY ------------------- */

/* Breakpoint Small 576px sm */
@media screen and (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

/* Breakpoint Medium 768px md */
@media screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }

  h1 {
    font-size: 50px;
  }

  h1::before,
  h1::after {
    font-size: 50px;
  }

  h2 {
    font-size: 35px;
  }
}

/* Breakpoint Large 992px lg */
@media screen and (min-width: 992px) {
  .container {
    max-width: 960px;
  }

  h1 {
    font-size: 60px;
  }

  h2 {
    font-size: 40px;
  }
}

/* Breakpoint Extra Large 1200px xl */
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
